.square {
	height: 7px;
	width: 7px;
	background-color: #0000FF;
	display:inline-block;
}

.apple {
	height: 7px;
	width: 7px;
	background-color: #00FF00;
	display:inline-block;
}

.showSnake {
	height: 7px;
	width: 7px;
	background-color: #ABCDEF;
	display:inline-block;
}